<div class="remodal-overlay remodal-is-closed">
  <div class="remodal-wrapper remodal-is-closed">
    <div id="size-chart-modal" data-remodal-id="size-chart{{ product.id }}">
      <a class="remodal-close"></a>
      <div class="remodal-header">
        <h3>General Size Guide - Junior Shoes</h3>
        <p>
          To select a child’s she wear size, you can use their everyday shoe size as a guide. 
          Or the best bet is to measure the length of their foot and compare the measurement 
          with our Size Guide below. Our <a href="/pages/shoe-size-guide">quick video</a> shows you how easy it is to measure foot length! 
        </p>
      </div>
      {% comment %}
      <div class="remodal-info">
        <div class="size-foot-image">
          <img
            src="https://via.placeholder.com/300x400"
            alt="Place holder image for measuring a foot"
          />
        </div>
        <div class="size-steps">
          <span class="center-bold">TIPS TO FIND YOUR CHILD’S FOOT LENGTH</span>
          <p class="step-text">
            <Strong>Step 1.</Strong>
            On a hard, level surface (not carpet), place a tape measure on the floor making sure the end of the tape is touching the wall.
          </p>
          <p class="step-text">
            <Strong>Step 2.</Strong>
            In bare feet, have the child stand next to the tape with their back against the wall.
          </p>
          <p class="step-text">
            <Strong>Step 3.</Strong>
            Carefully place their foot on top of the tape, making sure their heel is right up against the wall. Measure to the tip of their longest toe (it may not be the big toe!)
          </p>
          <p class="step-text">
            <Strong>Step 4.</Strong>
            Repeat this process with their other foot and compare the measurements.
          </p>
          <p class="step-text">
            <Strong>Step 5.</Strong>
            Choose the longest foot measurement to find their size in the guide below
          </p>
          <p class="step-text">
            <Strong>PRO TIPS</Strong>
            Some tape measures or rulers have a small gap before the zero point. Be sure the zero point is against the wall when measuring. 
          </p>
          <p class="step-text">
            A child’s feet swell during the day, so it’s a good idea to measure their feet in the afternoon or evening. If measurements are between sizes, opt for the larger size.
          </p>
        </div>
      </div>
      {% endcomment %}
      <div class="remodal-chart">
        <table class="size-table" width="100%">
          <thead>
            <tr>
              <th width="40%">FOOT LENGTH (CM)</th>
              <th width="30%">AU/US</th>
              <th width="30%">EU</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>15.5</td>
              <td>8</td>
              <td>25</td>
            </tr>
            <tr>
              <td>16.1</td>
              <td>9</td>
              <td>26</td>
            </tr>
            <tr>
              <td>16.8</td>
              <td>10</td>
              <td>27</td>
            </tr>
            <tr>
              <td>17.5</td>
              <td>11</td>
              <td>28</td>
            </tr>
            <tr>
              <td>18.1</td>
              <td>12</td>
              <td>29</td>
            </tr>
            <tr>
              <td>18.8</td>
              <td>13</td>
              <td>30</td>
            </tr>
            <tr>
              <td>19.5</td>
              <td>1</td>
              <td>31</td>
            </tr>
            <tr>
              <td>20.1</td>
              <td>2</td>
              <td>32</td>
            </tr>
            <tr>
              <td>20.8</td>
              <td>3</td>
              <td>33</td>
            </tr>
            <tr>
              <td>21.5</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <td>22.1</td>
              <td>5</td>
              <td>35</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="remodal-conditions--wrapper">
        <div class="remodal-conditions--returns">
          <div class="returns-image--wrapper">
            <p class="returns-text">30 DAYS EASY RETURNS</p>
          </div>

          <p>
            We’re all built a little bit differently. That means fitting shoes is never an exact science! 
            Our 30 Days Easy Returns gives you peace of mind that if something isn’t quite right, you 
            can opt for a different size or refund.* 
          </p>
        </div>
        <p class="sizing-conditions">
          <sup>*</sup> This size guide and measurement tips are provided as a reference only - we cannot guarantee 
          sizings. Please be sure to read the full terms and conditions of our 30 Days Easy Returns offer on the 
          <a href="/pages/returns">Returns page.</a>
        </p>
      </div>
    </div>
  </div>
</div>
