<div class="remodal-overlay remodal-is-closed">
  <div class="remodal-wrapper remodal-is-closed">
    <div id="size-chart-modal" data-remodal-id="size-chart{{ product.id }}" class="size-cart--workwear">
      <a class="remodal-close"></a>
      <div class="remodal-header">
        <h3>General Size Guide - Workwear</h3>
        <p>
          We’ve searched high and low for all the very best gear designed 
          specifically to <em>fit females</em>. With multiple brands on 
          offer, sizing is not 100% consistent across all workwear. So 
          we’ve been busy hand measuring every single product, in 
          every size, for it’s <strong><em>exact measurements</em></strong>.
        </p>
        <p>
          So to find these measurements, head back onto the product page, 
          scroll down to the <strong>Size &amp; Fit</strong> info panel 
          and click to open. 
        </p>
        <p>
          You can either use our expert <strong>Fit Tips</strong> to guide 
          your size choice. Or you might like to compare our <strong>Exact 
          Measurements</strong> with a similar garment that you already 
          know fits you well. Just be sure that your garment is very 
          similar in shape, fabric and fit. 
        </p>
        <p>
          Meanwhile, our 30 Days Easy Returns gives you peace of mind 
          that if something isn’t quite right, you can opt for a 
          different size or refund. Our international friends also have 
          30 Days Returns.<sup>*</sup> 
        </p>
        <hr>
        <p class="sizing-conditions">
          <sup>*</sup> This size guide and measurement tips are provided 
          as a reference only - we cannot guarantee sizings. Please be 
          sure to read the full terms and conditions of our 30 Days Easy 
          Returns offer on the <a href="/pages/returns">Returns page.</a>
        </p>

      </div>
    </div>
  </div>
</div>
