<h2 style="text-align:center;">Previous limited editions</h2>
<div class="text-column">
  <div class="text-column-item"  >
    <img src="https://cdn.shopify.com/s/files/1/0567/9503/7849/files/she-achieves-khaki-lifestyle.jpg?v=1676852216" alt="Image 2">
   
  </div>
  <div class="text-column-item"  >
    <img src="https://cdn.shopify.com/s/files/1/0567/9503/7849/files/she-strives-cheetah-lifestyle.jpg?v=1676852248" alt="Image 3">
   
  </div>
  <div class="text-column-item"   >
    <img src="https://cdn.shopify.com/s/files/1/0567/9503/7849/files/she-inspires-purple-lifestyle-shot.jpg?v=1676852235" alt="Image 3">
  
  </div>
    <div class="text-column-item"  >
    <img src="https://cdn.shopify.com/s/files/1/0567/9503/7849/files/she-achieves-green-lifestyle-shot_02a078e3-de20-4921-82b7-630c5e7b23e7.jpg?v=1676852192" alt="Image 1" >
   
  </div>
  <div class="text-column-item"  >
    <img src="https://cdn.shopify.com/s/files/1/0567/9503/7849/files/she-strives-leopard-lifestyle-shot.jpg?v=1634875630" alt="Image 3">
  
  </div>
</div>


 <style>
.text-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .text-column-item {
    flex: 0 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin-bottom: 40px;
    position: relative;
  }
  .text-column-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .text-column-item p {
    margin: 0;
    padding: 10px 0;
  }

  /* Responsive design for mobile and tablets */
  @media only screen and (max-width: 768px) {
    .text-column {
      flex-wrap: wrap;
    }
    .text-column-item {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }

  @media only screen and (max-width: 480px) {
    .text-column-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>
