<div class="header__search-box-slidedown animate-hide" id="searchbox">
  <form class="header__search-box-slidedown-form" action="{{ routes.search_url }}" method="get">
    <input class="header__search-box-slidedown-input" id="q" name="q" placeholder="search..." type="text"/>
  </form>
</div>
